// HDMI
IO_LOC "tmds_clk_p" 69;
IO_PORT "tmds_clk_p" PULL_MODE=NONE;
IO_LOC "tmds_clk_n" 68;
IO_PORT "tmds_clk_n" PULL_MODE=NONE;
IO_LOC "tmds_d_p[0]" 71;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[0]" 70;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE;
IO_LOC "tmds_d_p[1]" 73;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[1]" 72;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE;
IO_LOC "tmds_d_p[2]" 75;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[2]" 74;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE;

IO_LOC "leds_n[5]" 16;
IO_PORT "leds_n[5]" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "leds_n[4]" 15; 
IO_PORT "leds_n[4]" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "leds_n[3]" 14; 
IO_PORT "leds_n[3]" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "leds_n[2]" 13; 
IO_PORT "leds_n[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "leds_n[1]" 11;
IO_PORT "leds_n[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "leds_n[0]" 10;
IO_PORT "leds_n[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;

IO_LOC "reset" 4;
IO_PORT "reset" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "user" 3;
IO_PORT "user" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk_27mhz" 52;
IO_PORT "clk_27mhz" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// connection to the external BL616/M0S
IO_LOC "m0s[0]" 30; // MISO 
IO_PORT "m0s[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[1]" 33; // MOSI
IO_PORT "m0s[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[2]" 34; // CSn
IO_PORT "m0s[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[3]" 40; // CLK
IO_PORT "m0s[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[4]" 35; // IRQn
IO_PORT "m0s[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;
//IO_LOC "m0s[5]" 41; //
//IO_PORT "m0s[5]" PULL_MODE=UP IO_TYPE=LVCMOS33;

// digital retro Joystick
// 0 TR
// 1 DN
// 2 UP
// 3 RI
// 4 LE
IO_LOC "io[0]" 27;
IO_PORT "io[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "io[1]" 28;
IO_PORT "io[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "io[2]" 25;
IO_PORT "io[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "io[3]" 26;
IO_PORT "io[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "io[4]" 29;
IO_PORT "io[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;

// SD card
IO_LOC "sd_clk" 36;
IO_PORT "sd_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "sd_cmd" 37;        // MOSI
IO_PORT "sd_cmd" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[0]" 39;       // MISO
IO_PORT "sd_dat[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[1]" 48;  // Hardware modification needed !
IO_PORT "sd_dat[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[2]" 49;  // Hardware modification needed !
IO_PORT "sd_dat[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[3]" 38;
IO_PORT "sd_dat[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// Joystick and MIDI
IO_LOC "ds_clk" 51;
IO_PORT "ds_clk" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "ds_mosi" 53;
IO_PORT "ds_mosi" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "ds_miso" 54;
IO_PORT "ds_miso" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "ds_cs"  55;
IO_PORT "ds_cs" PULL_MODE=UP IO_TYPE=LVCMOS33; 

// SPI FLASH
IO_LOC "mspi_clk" 59;
IO_PORT "mspi_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "mspi_cs" 60;
IO_PORT "mspi_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "mspi_do" 62;
IO_PORT "mspi_do" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "mspi_di" 61;
IO_PORT "mspi_di" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

//IO_LOC "PIN49_IOR24A_SPILCD_RS" 49;
//IO_LOC "PIN77_IOT37A_SPILCD_MO; 77"
//IO_LOC "PIN76_IOT37B_SPILCD_MCLK" 76;
//IO_LOC "PIN48_IOR24B_SPILCD_CS" 48;
//IO_LOC "PIN47_IOB43B_SPILCD_EN" 47;

//IO_LOC "PIN25_IOB8A" 25;
//IO_LOC "PIN26_IOB8B" 26;
//IO_LOC "PIN27_IOB11A 27;
//IO_LOC "PIN28_IOB11B 28;
//IO_LOC "PIN29_IOB13A" 29;
//IO_LOC "PIN30_IOB13B" 30;

//IO_LOC "I_PS2_CLK" 76; 
//IO_LOC "I_PS2_DATA" 77; 
//IO_LOC "O_AUDIO" 30;